body{
    margin: 0px;
}

#buscador {
    padding: 5px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    width: 400px; 
    margin-left: 50px; 
    background-color: #fff; 


}

#finalizarCompra{
    margin-bottom: -10px;
    margin-left: 20px 
}
/*navbar*/
.nav-container{
    position:sticky;
    z-index: 3;
    top:0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 12vh;
    background-color: #1b1b1b;
}

.navbar-logo{
    justify-self: start;
    margin-left:20px;
    color:#fff;
    margin-top:4vh;
    cursor:pointer;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.white-icon {
    color: white;
}
.ver-carrito{
    font-size:25px;
    margin-right:20px;
    margin-top: 3.5vh;
    cursor: pointer;
}

/*banner styles*/
.banner{
    background-size: cover;
    background-position:center;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("East-Village_Kitchen_006.jpg");
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.banner-container{
    text-align: center;
    padding: 15% 0
}

.banner h1{
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 62px;
    font-weight:bold;
}

.banner p {
    font-size: 30px;
    color: white;
    opacity: 0.7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

/*product cards */
.shop-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80 px;
    margin-right: 80px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;

}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0 ,0.2);
    width: 300px;
    margin: auto;
    text-align:center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;

}

.card > img{
    width: 90%;
    height: 250px;
}

.price{
    color: grey;
    font-size: 22px;
}

.card button{
    border: none;
    outline:0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.card button:hover{
    opacity: 0.7;
}


/*modal content */

.modal-container{
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: #fff;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    /*for the top*/

    position:fixed;
    overflow:auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color:none;
}

.modal-container::-webkit-scrollbar{
    display:none;
}

.modal-header{
    display:flex;
    width: 1500px;
    justify-content: space-around;
    background-color: #1a1919;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.modal-header-title{
    justify-self: start;
}

.modal-header-button{
    cursor: pointer;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.modal-container > .modal-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center ;
    width: 300%;
    margin: 10px;

}

.modal-container > div > img{
    height: 120px;
    width: 120px;
}

.total-content{
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.delete-product{
    cursor: pointer;
}

/* contador del carrito*/

.cantidad-carrito{
    background-color: red;
    color: white;
    border-radius: 100%;
    font-size: 10px;
    padding: 4px;
    top: 37px;
    right: 14px;
    position: absolute;
    display: none;

}

.sumar{
    cursor: pointer;
}

.restar{
    cursor: pointer;
}

